{% load widget_tweaks %}

<h1 class="mt-8 mb-4 prose prose-2xl text-white">
    Create Transaction
</h1>

<form hx-post="{% url 'create-transaction' %}">
   {% include 'expenses/partial/transaction-form.html' %}
    <button  class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded shadow" type="submit">
        Add
    </button>
     <button  class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded shadow" type="submit" hx-get="{% url 'transactions-list' %}" hx-target="#transaction-block" hx-push-url="/transactions">
        Cancel
    </button>
</form>